{namespace theme=KayStrobach\Themes\ViewHelpers}

<div class="header" data-toggle="clingify">
	<div class="header-inner container">
		<div class="navbar">
			<div class="pull-left">
				<!--branding/logo-->
				<f:link.page pageUid="{theme:constant(constant: 'themes.configuration.pages.startsite')}" class="navbar-brand">
					<h1>
						<f:cObject typoscriptObjectPath="lib.header.logo.main"/>
					</h1>
				</f:link.page>
				<div class="slogan">{theme:constant(constant: 'themes.configuration.siteName')}</div>
			</div>

            <f:if condition="{theme:constant(constant: 'themes.configuration.pages.search')}">
                <!--Search trigger -->
                <f:variable name="searchUid">{theme:constant(constant:'themes.configuration.pages.search')}</f:variable>
                <a href="{f:uri.page(pageUid: searchUid)}#search" class="search-form-tigger" data-toggle="search-form" data-target=".header-search">
                    <i class="fa fa-search fa-flip-horizontal search-icon"></i>
                </a>
            </f:if>

			<!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
			<a href="#top" class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse" data-direction="right"><i class="fa fa-bars"></i></a>

			<!--everything within this div is collapsed on mobile-->
			<div class="navbar-collapse collapse">
				<!--main navigation-->
				<ul class="nav navbar-nav">
					<li class="home-link">
						<f:link.page pageUid="{theme:constant(constant: 'themes.configuration.pages.startsite')}">
							<i class="fa fa-home"></i><span class="hidden">Home</span>
						</f:link.page>
					</li>
					<f:cObject typoscriptObjectPath="lib.menu.main"/>
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</div>
</div>
