{namespace theme=KayStrobach\Themes\ViewHelpers}

<div class="header-search">
	<form class="search-form container">
		<input type="text" name="search" class="form-control search" value="" placeholder="Search">
		<button type="button" class="btn btn-link"><span class="sr-only">Search </span><i class="fa fa-search fa-flip-horizontal search-icon"></i></button>
		<button type="button" class="btn btn-link close-btn" data-toggle="search-form-close"><span class="sr-only">Close </span><i class="fa fa-times search-icon"></i></button>
	</form>
</div>